<% layout("/layouts/boilerPlate") %>

<body style="background-color: #353935;">
    <div class="card mb-3">
        <img src="http://localhost:5000/uploads/Event-Finder-Cover-Photo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><i>Event Finder</i></h5>
          <p class="card-text" style="font-family: 'Tahoma', Geneva, Verdana, sans-serif;">A platform where purchasing and selling done at the same time. This platform provides you to post your latest and upcoming events.
            <br/> This platform also provides you to register yourself for the most likely events that you would prefer to join.
            <br/>If you want to post your event then you are required to create your account on this platform and successfully login into it. <br/>
            After while, you will be capable to post the event.
            <br/> Those user who want to register yourself for the particular event are not required to create their account on this platform

          </p>
          <p class="card-text"><small class="text-body-secondary">Kindly, Read all the instructions carefully </small></p>
        </div>
      </div>
    </body>
