<% layout("/layouts/boilerPlate") %>

<body style="background-color: #353935;">
    <div class="card mb-3 ">
        <img src="http://localhost:5000/uploads/Contact-Us.png" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title"><i>Contact us</i></h5> -->
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Meet us</h5>
                  <p><a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQFp9IULAoc3VwAAAZBthQboh_-sp2TakV9kzCl7oMgclLpQejgvjQc46H1tjSHuAQrHht0POItLtUyyvu3WO5X3IBLaZeLO9BEINV9kAgk0aAVGNrB55LQHKgkukdMGOx5NevM=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Falok-verma-" style="text-decoration: none; color: black; font-family: sans-serif;" class="align-middle ms-3"> <i class="fa-brands fa-linkedin"></i> Linked In</a> </p>
                  <p><a href="https://github.com/alok-verma14" style="text-decoration: none; color: black; font-family: sans-serif;" class="align-middle ms-3"> <i class="fa-brands fa-github"></i> GitHub</a> </p>      
                  <p><a href="https://mail.google.com" style="text-decoration: none; color: black; font-family: sans-serif;" class="align-right ms-3"> <i class="fa-solid fa-envelope"></i> alokvermacloud@gmail.com</a> </p>
                </div>
            </div>
            </div>
            <div class="col">
              <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Pitch us</h5>
                  <p class="card-text" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Hello,
                    <br/>
                    my name is Alok Verma and I am the developer of this project.
                    <br/> I made this site to make the events publicly reachable.
                    <br/> This site contains the events that will be held globally, regionally and locally.
                    <br/> For any query, contact on<a href="https://mail.google.com" style="text-decoration: none; color: black; font-family: sans-serif;" class="align-right ms-3"><i class="fa-solid fa-envelope"></i> alokvermacloud@gmail.com</a>

                  </p>
                </div>
              </div>
            </div>
        
          </div>
          <!-- <p class="card-text"><small class="text-body-secondary">Kindly, Read all the instructions carefully </small></p> -->
        </div>
      </div>
    </body>
