<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div class="foot-out">
        <p>@CopyRight2024</p>
        <p>Author: Alok Verma</p>
        <p>Follow On linked In</p>
        <p>Follow on Git Hub</p>
    </div> -->
    <div class="card text-center" style="background-color: #6c8c7c;">
        <div class="card-header mt-1">
          <img src="http://localhost:5000/uploads/Event-Finder-Logo@.png %>" alt="" height="60px" width="70px" style="clip-path: circle();">
          <h4 style="color: aliceblue;" class="mt-2"><i>Event Finder</i></h4>
        </div>
        <div class="card-footer text-body-secondary ">
            <p><a href="#" style="text-decoration: none; color: aliceblue; font-family: Arial, Helvetica, sans-serif;" class="align-middle ms-3"> CopyRight 2024 <i class="fa-solid fa-copyright"></i> Event Finder. All Rights Reserved.</a></p>
            <a href="#" style="text-decoration: none; color: aliceblue; font-family: Arial, Helvetica, sans-serif;" class="align-middle ms-3"> Author: Alok Verma</a>
            <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQFp9IULAoc3VwAAAZBthQboh_-sp2TakV9kzCl7oMgclLpQejgvjQc46H1tjSHuAQrHht0POItLtUyyvu3WO5X3IBLaZeLO9BEINV9kAgk0aAVGNrB55LQHKgkukdMGOx5NevM=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Falok-verma-" style="text-decoration: none; color: aliceblue; font-family: Arial, Helvetica, sans-serif;" class="align-middle ms-3"> <i class="fa-brands fa-linkedin"></i> Linked In</a>
            <a href="https://github.com/alok-verma14" style="text-decoration: none; color: aliceblue; font-family: Arial, Helvetica, sans-serif;" class="align-middle ms-3"> <i class="fa-brands fa-github"></i> Git Hub</a>        
            <p class="mt-2">
                 <a href="/events/about" style="text-decoration: none; color: aliceblue; font-family: Arial, Helvetica, sans-serif;" class="align-middle ms-3"> <i class="fa-solid fa-address-card"></i> About Us </a> 
                 <a href="/events/contact" style="text-decoration: none; color: aliceblue; font-family: Arial, Helvetica, sans-serif;" class="align-middle ms-3"> <i class="fa-solid fa-address-book"></i> Contact Us </a>
            </p>
            <p class="mt-2"> <a href="#" style="text-decoration: none; color: black; font-family: Arial, Helvetica, sans-serif;" class="align-middle ms-3"> <i class="fa-solid fa-upload"></i> Back to top</a></p>
        </div>
      </div>
</body>
</html>