
<body>
    <!-- <div class="outside">
        <div class="second">
            <a href="/events">Home</a>
            <a href="/events/new">Add New Event</a>
            <% if(!currentUser){ %>
                <a href="/events/login">Login</a>
                <a href="/events/register">Register</a>


           <% } %>
           <% if(currentUser){ %>
            <a href="/logout">Logout</a>            
            <a href="/events/<%= currentUser.id %>/showUser">My Profile</a>
            <% } %>
        </div>
        
    </div> -->

        <nav class="navbar navbar-dark bg-dark mb-3" style="height: 75px;">
            <div class="container-fluid">
              <a class="navbar-brand" href="/events"><i style="font-family: cursive;"><img src="http://localhost:5000/uploads/Event-Finder-Logo@.png %>" alt="" height="53px" width="70px" style="clip-path: circle();">
                Event Finder</i></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <% if(!currentUser){ %>
                    <a href="/events/login" role="button" class="btn btn-warning" style="font-family: Arial, Helvetica, sans-serif;"><i class="fa-solid fa-arrow-right-from-bracket"></i> Login</a>
                    <a href="/events/register" role="button" class="btn btn-secondary " style="font-family: Arial, Helvetica, sans-serif;"> <i class="fa-solid fa-registered"></i> Register</a>
 
               <% } %>
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" data-bs-dismiss="offcanvas" aria-label="Close" style="cursor: pointer;" style="font-family: Arial, Helvetica, sans-serif;">  <i class="fa-solid fa-bars" ></i> Menu</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/events" style="font-family: Arial, Helvetica, sans-serif;"><i class="fa-solid fa-house" ></i> Home </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/events/new" style="font-family: Arial, Helvetica, sans-serif;"><i class="fa-solid fa-plus" ></i> Add New Event </a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: Arial, Helvetica, sans-serif;">
                        More Options
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark">
                        <% if(!currentUser){ %>
                            <li><a class="dropdown-item" href="/events/login" style="font-family: Arial, Helvetica, sans-serif;"><i class="fa-solid fa-arrow-right-from-bracket"></i> Login </a></li>
                            <li><a class="dropdown-item" href="/events/register" style="font-family: Arial, Helvetica, sans-serif;"><i class="fa-solid fa-registered"></i> Register </a></li>
                        <% } %>
    
                        <% if(currentUser){ %>
                            <li><a class="dropdown-item" href="/events/<%= currentUser.id %>/showUser" style="font-family: Arial, Helvetica, sans-serif;"> <i class="fa-solid fa-user"></i> My Profile</a></li>
                            <li><a class="dropdown-item" href="/logout" style="font-family: Arial, Helvetica, sans-serif;"><i class="fa-solid fa-right-from-bracket"></i> Logout </a></li>
                        <% } %>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/events/about" style="font-family: Arial, Helvetica, sans-serif;"><i class="fa-solid fa-address-card"></i> About Us </a></li>
                        <li><a class="dropdown-item" href="/events/contact" style="font-family: Arial, Helvetica, sans-serif;"><i class="fa-solid fa-address-book"></i> Contact Us </a></li>

                      </ul>
                    </li>
                  </ul>
                  <!-- <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                  </form> -->
                </div>
              </div>
            </div>
          </nav> 
</body>
